<div class="line">
    <div class="s-info">
        <div class="label">__name__</div>
    </div>
    <div class="switch">
        <input type="button" value="on" id="__key__-on">
    </div>
    <div class="switch">
        <input type="button" value="toggle" id="__key__-toggle">
    </div>
    <div class="switch">
        <input type="button" value="off" id="__key__-off">
    </div>
</div>
