* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7f7f7f;
  color: #000000;
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
}

.line {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2rem .5rem 2rem .5rem;
  text-align: center;
}
.line:first-of-type {
  margin-bottom: 3.5rem;
  margin-top: 0;
  text-align: left;
}
.line:last-of-type {
  margin-bottom: 0;
}
.spacing {
  margin-top: 3.5rem;
}
.s-info,
.switch input {
  padding: .5rem 0 .5rem 0;
}
.line,
.s-info,
.switch input {
  border-radius: .25rem;
}
.header {
  flex: 0 1 75%;
}
.header a {
  text-decoration: none;
}
.h-info {
  align-self: flex-end;
  flex: 0 1 24%;
}
.switch {
  flex: 0 1 25%;
}
.s-info {
  align-self: baseline;
  flex:  0 1 9%;
}
.label,
.switch input {
  font-size: 1.2rem;
  font-weight: bold;
}
.value,
.h-info {
  font-size: .8rem;
}
.s-info,
.line:first-of-type,
.header a,
.footer,
.on {
  background-color: #000000;
  color: #ffffff;
}
.switch input {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}
